{%  load static %}
{% load value_by_key %}


<style>

    .errorlist li {
        list-style: decimal;
        margin-left: 10px;
    }

    .errorlist li ul li {
        list-style: none;
        border: solid 1px #C62A21;
        border-radius: 2px;
        background-color: #F5BDBC;
        margin-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .created {
        width: 100%;
    }

    .errors {
        width: 100%;
    }

    .errors h2 {
        background-color: #F5BDBC;
        border: solid 1px #C62A21;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 20px;
    }

    table {
        font-family: arial, sans-serif;
        font-size: 13px;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        text-align: left;
        padding: 8px;
    }

    .error_cell {
        color: #C62A21;
        background-color: #F5BDBC;
    }

    thead {
        background-color: #EBEEF0;
    }

    tr:nth-child(even) {
        background-color: #F9FAFA;
        border: solid 1px #EBEEF0;
    }

    #success_alert {
        display: flex;
        justify-content: center;
        margin: 5px;
    }

    #success_alert div {
        display: flex;
        align-items: center;
        border: 1px solid #EBEEF0;
        border-radius: 2px;
        background-color: #F9FAFA;
        padding: 10px;
    }

    #success_alert span {
        font-size: 20px;
        margin-left: 15px;
    }
</style>
<div class="errors">
    <h2>Incorrect fields({{ errors|length }})</h2>
    <div>
        <table>
            <thead>
            <tr>
                <th>Row</th>
                {% for field in fields %}
                    <th>{{ field }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            {% for error in errors %}
                <tr>

                    <td
                            {% if error.errors|keyvalue:"non_field_errors" %}
                                {% with error.errors|keyvalue:"non_field_errors" as err %}
                                    class="error_cell" onclick='alert("{{ err }}")'
                                {% endwith %}
                            {% endif %}>
                        {{ error.row_num }}
                    </td>

                    {% for key in fields %}
                        <td
                                {% if error.errors|keyvalue:key %}
                                    class="error_cell" onclick="alert('{{ error.errors|keyvalue:key }}')"
                                {% endif %}>
                            <pre>{{ error.row|keyvalue:key }}</pre>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% if success %}
    <div class="created">
        <div id="success_alert">
            <div>
                <img src="{% static  'images/icons/success_check.svg' %}">
                <span>You have added {{ success|length }} new members!</span>
            </div>
        </div>
        <table>
            <thead>
            <tr>
                <th>Row</th>
                {% for field in fields %}
                    <th>{{ field }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            {% for object in success %}
                <tr>

                    <td>{{ object.row_num }}</td>

                    {% for key in fields %}
                        <td>
                            <pre>{{ object|fieldvalue:key|truncatechars:15 }}</pre>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}