{%  load static %}
{% load value_by_key %}

<div class="errors">
    <h2>Incorrect fields({{ errors|length }})</h2>
    <div>
        <table>
            <thead>
            <tr>
                <th>Row</th>
                {% for field in fields %}
                    <th>{{ field }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            {% for error in errors %}
                <tr>

                    <td
                            {% if error.errors|keyvalue:"non_field_errors" %}
                                {% with error.errors|keyvalue:"non_field_errors" as err %}
                                    class="error_cell" onclick='alert("{{ err }}")'
                                {% endwith %}
                            {% endif %}>
                        {{ error.row_num }}
                    </td>

                    {% for key in fields %}
                        <td
                                {% if error.errors|keyvalue:key %}
                                    class="error_cell" onclick="alert('{{ error.errors|keyvalue:key }}')"
                                {% endif %}>
                            <pre>{{ error.row|keyvalue:key }}</pre>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% if success %}
    <div class="created">
        <div id="success_alert">
            <div>
                <img src="{% static  'images/icons/success_check.svg' %}">
                <span>You have added {{ success|length }} new members!</span>
            </div>
        </div>
        <table>
            <thead>
            <tr>
                <th>Row</th>
                {% for field in fields %}
                    <th>{{ field }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            {% for object in success %}
                <tr>

                    <td>{{ object.row_num }}</td>

                    {% for key in fields %}
                        <td>
                            <pre>{{ object|fieldvalue:key|truncatechars:15 }}</pre>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}